modelName: "{{ modelName | default('RSMV2') }}"
featureStoreReadEnv: "{{ featureStoreReadEnv | default('prod') }}"
useTmpFeatureGenerator: {{ useTmpFeatureGenerator | default(false) | lower }}
extraSamplingThreshold: {{ extraSamplingThreshold | default(0.05) }}
rsmV2FeatureSourcePath: "{{ rsmV2FeatureSourcePath | default('/featuresV2.json') }}"
sensitiveFeatureColumns: "{{ sensitiveFeatureColumns | default('Site,Zip') }}"
persistHoldoutSet: {{ persistHoldoutSet | default(true) | lower }}
optInSeedType: "{{ optInSeedType | default('Dynamic') }}"
posNegRatio: {{ posNegRatio | default(50) }}
lowerLimitPosCntPerSeed: {{ lowerLimitPosCntPerSeed | default(200) }}
RSMV2UserSampleSalt: "{{ rsmV2UserSampleSalt | default('TRM') }}"
RSMV2PopulationUserSampleIndex: "{{ rsmV2PopulationUserSampleIndex | default('3,5,7') }}"
RSMV2UserSampleRatio: {{ rsmV2UserSampleRatio | default(1) }}
samplerName: "{{ samplerName | default('RSMV2') }}"
overrideMode: {{ overrideMode | default(false) | lower }}
splitRemainderHashSalt: "{{ splitRemainderHashSalt | default('split_RSMV2') }}"
saveIntermediateResult: {{ saveIntermediateResult | default(false) | lower }}
intermediateResultBasePathEndWithoutSlash: "{{ intermediateResultBasePathEndWithoutSlash | default('thetradedesk-mlplatform-us-east-1/users/yixuan.zheng/allinone/dataset/' ~ (subFolder | default('Full'))) }}"
maxLabelLengthPerRow: {{ maxLabelLengthPerRow | default(50) }}
minRowNumsPerPartition: {{ minRowNumsPerPartition | default(100000) }}
trainValHoldoutTotalSplits: {{ trainValHoldoutTotalSplits | default(10) }}
activeSeedIdWhiteList: "{{ activeSeedIdWhiteList | default('') }}"
maxChunkRecordCount: {{ maxChunkRecordCount | default(20480) }}
paddingColumns: {{ paddingColumns | default('ZipSiteLevel_Seed,Targets,SyntheticIds,MatchedSegments,SampleWeights') }}
posSampleWeight: {{ posSampleWeight | default(2.52) }}
negSampleWeight: {{ negSampleWeight | default(1) }}

runDate: "{{ run_date.strftime(run_date_format) }}" # job running logical date

audienceJarBranch: "{{ audienceJarBranch | default('master') }}"
audienceJarVersion: "{{ audienceJarVersion | default('latest') }}"
